<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "tWalk" class="TransportationWalk"></bean>
    <!-- 이 빈 태그로 인해서 어디서든 객체를 쓸수 있다. -->

</beans>
